$red: #e63946;
$white: #f1faee;
$light-blue: #a8dadc;
$blue: #457b9d;
$dark-blue: #1d3557;
$grey: rgb(240, 240, 240);
$medium-grey: #bdbdbd;
$dark-grey: rgb(73, 73, 73);
$interactablesContainerWidth: 600px;